@using RentAutoApp.Web
@using RentAutoApp.Web.ViewModels.Vehicles
@model IEnumerable<FeaturedCarViewModel>
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L

<div class="row g-4">
	@foreach (var car in Model)
	{
		<div class="col-md-4">
			<div class="card car-card shadow-sm">

				<img src="@car.ImageUrl"
				     class="card-img-bottom"
				     alt="@car.Title"
				     style="height:300px; object-fit:cover;">

				<div class="card-body d-flex flex-column">
					<h5 class="card-title">@car.Title</h5>
					<p class="card-text text-muted mb-4">
                        @L["From"] <strong>@car.PricePerDay @L["Currency.BGN"]</strong> / @L["Day"]
					</p>
					<a href="@Url.Action("Details", "Vehicle", new { id = car.Id })"
					   class="btn btn-primary mt-auto">
						@L["Details"]
					</a>
				</div>
			</div>
		</div>
	}
</div>