@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using RentAutoApp.Data.Models
@using RentAutoApp.Web
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L


<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link"
               asp-area=""
               asp-controller="Reservation"
               asp-route-culture="@CultureInfo.CurrentUICulture.Name"
			   asp-action="Index">@L["Nav.Reservations"]</a>
		</li>

		<li class="nav-item">
			<a class="nav-link"
			   asp-area="User"
               asp-controller="Profile"
               asp-route-culture="@CultureInfo.CurrentUICulture.Name"
			   asp-action="Index">@L["Nav.Profile"]</a>
		</li>

@* 		<li class="nav-item">
            <a class="nav-link"
               asp-area="User"
               asp-controller="Profile"
               asp-action="Index"
               asp-route-culture="@CultureInfo.CurrentUICulture.Name">
                @string.Format(L["Nav.HelloUser"], User.Identity?.Name)
            </a>
		</li> *@

		<li class="nav-item">
			<form class="form-inline"
				  asp-area="Identity"
				  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index","Home", new { area = "" })"
                  asp-route-culture="@CultureInfo.CurrentUICulture.Name"
				  method="post">
				@Html.AntiForgeryToken()
				<button type="submit" class="nav-link btn btn-link">@L["Nav.Logout"]</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
            <a class="nav-link" 
               asp-area="Identity" 
               asp-page="/Account/Login"
               asp-route-culture="@CultureInfo.CurrentUICulture.Name"
               >@L["Nav.Login"]</a>
		</li>
	}
</ul>
